<div class="d-md-flex align-items-center h-md-100 p-2 justify-content-center">
      <canvas class="border border-dark" id='canvas' width='800' height='450'> </canvas>
</div>
<div class="d-md-flex align-items-center h-md-100 p-2 justify-content-center">
      <a class="btn btn-primary change_color mr-3" (click)="DowloadAsImage()">Download as Image</a>
      <a class="btn btn-primary change_color mr-3" (click)="DowloadAsPDF()">Download as PDF</a>
      <a class="btn btn-primary change_color" (click)="VerifyCertificate()">Verify Certificate</a>
</div>