<div class="container-fluid">
      <div class="card shadow mb-4">
            <div class="card-header py-3">
                  <h2 class="m-0 font-weight-bold text-danger">Requests</h2>
            </div>
            <div class="card-body">
                  <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                    <tr>
                                          <th>Image</th>
                                          <th>Email</th>
                                          <th>City</th>
                                          <th>Phone Number</th>
                                          <th>Country</th>
                                          <th>Accept/Reject</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <tr *ngFor="let org of orgs">
                                          <td><img [src]="imageSrc ||'http://localhost:3000/assets/'+org.img_path"
                                                      height="50" width="50" alt="" class="img-fluid rounded-circle">
                                          </td>
                                          <td>{{org.email}}</td>
                                          <td>{{org.city}}</td>
                                          <td>{{org.phone}}</td>
                                          <td>{{org.country}}</td>
                                          <td><button (click)="approve(org.username)"
                                                      class="btn btn-success btn-sm ml-5">Accept</button> </td>
                                    </tr>

                              </tbody>
                        </table>
                  </div>
            </div>
      </div>

</div>