<div class="jumbotron">
      <h1 class="display-4">What is Werify?</h1>
      <p class="lead">Werify is a job portal that enables trust between employers and recipients/job seeker. We want to
            build that trust to encourage people to use this system. Yes, there exits such system but there are very few
            and they do not have that trust element. Out of the them most are organization based or they involve manual
            verification system and they also don’t have a secure way to authenticate certificate which is basic
            building block of trust in job portal. Hence, due to these reason certificates can be easily copied and
            tampered. This system helps our learning in a way that we will be able to convert any existing system to
            blockchain. </p>
      <hr class="my-4">
      <p><b>As a Organization, </b> You can manage courses, design your certifcate and issue to students. Moreover you
            can hire quality applicants for your job and can chat</p>
      <p><b>As a Recipient, </b> You can manage your profile, view cert wallet, download certificates. Moreover you
            can apply on jobs and can chat with employers directly and be hired</p>
      <hr class="my-4">
      <p><b>We Verify You</b></p>
</div>