.job-post-item {
  border-radius: 0;
  box-shadow: 5px 5px 10px #17a2b8;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

.job-post-item:hover {
  background: #17a2b8;
  /* color: #s; */
  border-radius: 2px;
  border:none;
  box-shadow: 5px 5px 5px 6px #17a2b8;
}

.job-post-item:hover h3 {
  color: #fff;
}
.change_color{
  color: white;
}