<div class="container mt-5">
      <div class="row">
            <div class="col-md-3">
                  <div class="card-counter primary">
                        <i class="fa fa-code-fork"></i>
                        <span class="count-numbers">{{orgs}}</span>
                        <span class="count-name">Organizations</span>
                  </div>
            </div>

            <div class="col-md-3">
                  <div class="card-counter danger">
                        <i class="fa fa-ticket"></i>
                        <span class="count-numbers">{{rec}}</span>
                        <span class="count-name">Users</span>
                  </div>
            </div>

            <div class="col-md-3">
                  <div class="card-counter success">
                        <i class="fa fa-database"></i>
                        <span class="count-numbers">{{jobs}}</span>
                        <span class="count-name">Jobs Posted</span>
                  </div>
            </div>

            <div class="col-md-3">
                  <div class="card-counter info">
                        <i class="fa fa-users"></i>
                        <span class="count-numbers">{{cert}}</span>
                        <span class="count-name">Certificate Issued</span>
                  </div>
            </div>
      </div>
      <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <button (click)="open()" class="btn btn-danger btn-lg ml-5">Click Here to See Blockchain</button>
      </div>
</div>