<div class="mesgs">
      <div class="msg_history">
            <div *ngFor="let message of this.chat.messages">
                  <div *ngIf="message.user=='recipient'; else elseBlock">
                        <div class="incoming_msg">
                              <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                                          alt="sunil">
                              </div> -->
                              <div class="received_msg">
                                    <div class="received_withd_msg">
                                          <p>{{message.message_text}}</p>
                                          <span class="time_date"> {{message.date}}</span>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <ng-template #elseBlock>
                        <div class="outgoing_msg">
                              <div class="sent_msg">
                                    <p>{{message.message_text}}</p>
                                    <span class="time_date"> {{message.date}}</span>
                              </div>
                        </div>
                  </ng-template>
            </div>
      </div>
      <div class="type_msg">
            <div class="input_msg_write">
                  <input [(ngModel)]="message" type="text" class="write_msg" placeholder="Type a message" />
                  <button (click)="SendMessage()" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                              aria-hidden="true"></i></button>
            </div>
      </div>
</div>