<div class="d-md-flex align-items-center h-md-100 p-5 m-5 justify-content-center">
      <form ngNativeValidate #f="ngForm" (ngSubmit)="onSubmit(f)">
            <h2>Forgot Password</h2>
            <label>Select User</label>
            <select name="user_type" required class="form-control" required ngModel>
                  <option value="rec">Recipient</option>
                  <option value="org">Organization</option>
            </select>
            <div class="form-group">
                  <label>Enter Email</label>
                  <input type="email" name="email" class="form-control" aria-describedby="emailHelp" ngModel required
                        placeholder="Enter Email">
            </div>
            <div class="d-md-flex align-items-center h-md-100 justify-content-center">
                  <button type="submit" class="btn btn-primary">Send Recovery Email</button>
            </div>
      </form>
</div>