<div *ngIf="!(this.rec); else elseBlock">
      <h3>You are Logged Out</h3>
</div>
<ng-template #elseBlock>
      <div>
            <div class="d-md-flex align-items-center h-md-100 p-3 justify-content-center">
                  <div> </div>
                  <img [src]="imageSrc || '../../../assets/default_profile_image.png'"
                        class="avatar img-circle img-thumbnail" alt="avatar" width="200" height="200"
                        class="rounded-circle">
            </div>
            <div class="d-md-flex align-items-center justify-content-center">
                  <input type="file" accept=".jpg,.png,.jpeg" name="uploadfile" id="img"
                        (change)="onFileSelected($event)" style="display:none;" />
                  <label id="upload_button" for="img">Upload image</label>
            </div>
            <div class="container bootstrap snippet">
                  <form ngNativeValidate (ngSubmit)="onSubmit()">
                        <div class="row">
                              <div class="col-sm-4">
                                    <div class="tab-content">
                                          <div class="tab-pane active" id="home">
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="first_name">
                                                                  <h5>Username</h5>
                                                            </label>
                                                            <input type="text" class="form-control" disabled
                                                                  name="username" [(ngModel)]="rec.username"
                                                                  id="first_name" placeholder="first name"
                                                                  title="enter your first name if any.">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="last_name">
                                                                  <h5>Email</h5>
                                                            </label>
                                                            <div class="input-group input-sm">
                                                                  <input name="email" disabled [(ngModel)]="rec.email"
                                                                        required type="text" class="form-control mr-2">
                                                                  <!-- <span *ngIf="!rec.email_status; else elseBlock"
                                                                        class="input-group-btn">
                                                                        <button (click)="Verify()"
                                                                              class="btn btn-danger"
                                                                              type="button">Verify</button>
                                                                  </span>
                                                                  <ng-template #elseBlock>
                                                                        <span class="input-group-btn">
                                                                              <label class="btn btn-success"
                                                                                    type="button">Verified</label>
                                                                        </span>
                                                                  </ng-template> -->
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>Date of birth</h5>
                                                            </label>
                                                            <input name="dob" [(ngModel)]="newDate" type="date" required
                                                                  class="form-control" id="phone"
                                                                  placeholder="Enter Date of Birth"
                                                                  title="enter your phone number if any.">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>CNIC</h5>
                                                            </label>
                                                            <input name="cnic" [(ngModel)]="rec.cnic" type="text"
                                                                  required class="form-control" name="cnic" id="phone"
                                                                  placeholder="Enter 13-Digit CNIC" pattern="[0-9]{13}"
                                                                  title="Enter a 13-Digit CNIC">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>Field</h5>
                                                            </label>
                                                            <select name="field" required class="form-control"
                                                                  [(ngModel)]="rec.field">
                                                                  <option *ngFor="let field of fields"
                                                                        value="{{field}}">
                                                                        {{field}}</option>
                                                            </select>
                                                      </div>
                                                </div>
                                                <!-- <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>Password</h5>
                                                            </label>
                                                            <input name="password" [(ngModel)]="rec.password" required
                                                                  type="text" class="form-control" id="phone"
                                                                  placeholder="enter phone"
                                                                  title="enter your phone number if any.">
                                                      </div>
                                                </div> -->
                                          </div>
                                    </div>
                              </div>
                              <div class="col-sm-4">
                                    <div class="tab-content">
                                          <div class="tab-pane active" id="home">
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="first_name">
                                                                  <h5>First Name</h5>
                                                            </label>
                                                            <input name="first_name" [(ngModel)]="rec.first_name"
                                                                  required type="text" class="form-control"
                                                                  id="first_name" placeholder="Enter First Name"
                                                                  title="enter your first name if any.">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="last_name">
                                                                  <h5>Phone</h5>
                                                            </label>
                                                            <div class="input-group input-sm">
                                                                  <input name="phone" [(ngModel)]="rec.phone" required
                                                                        type="phone" class="form-control"
                                                                        placeholder="Enter Phone Number">
                                                                  <!-- <span class="input-group-btn">
                                                                        <button class="btn btn-default"
                                                                              type="button">Verify</button>
                                                                  </span> -->
                                                            </div><!-- /input-group -->
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>Address</h5>
                                                            </label>
                                                            <input name="address" [(ngModel)]="rec.address" type="text"
                                                                  required class="form-control" id="phone"
                                                                  placeholder="Enter Address"
                                                                  title="enter your phone number if any.">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>District</h5>
                                                            </label>
                                                            <input name="district" [(ngModel)]="rec.district" required
                                                                  type="text" class="form-control" id="phone"
                                                                  placeholder="Enter District"
                                                                  title="enter your phone number if any.">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>City</h5>
                                                            </label>
                                                            <input name="city" [(ngModel)]="rec.city" type="text"
                                                                  required class="form-control" id="phone"
                                                                  placeholder="Enter City"
                                                                  title="enter your phone number if any.">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-sm-4">
                                    <div class="tab-content">
                                          <div class="tab-pane active" id="home">
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="first_name">
                                                                  <h5>Last Name</h5>
                                                            </label>
                                                            <input name="last_name" [(ngModel)]="rec.last_name" required
                                                                  type="text" class="form-control" id="first_name"
                                                                  placeholder="Enter Last name"
                                                                  title="enter your first name if any.">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="last_name">
                                                                  <h5>Employed</h5>
                                                            </label>
                                                            <select name="employed" required class="form-control"
                                                                  [(ngModel)]="rec.employed">
                                                                  <option value="yes">Yes</option>
                                                                  <option value="no">No</option>
                                                            </select>
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>Country</h5>
                                                            </label>
                                                            <input name="country" [(ngModel)]="rec.country" type="text"
                                                                  required class="form-control" id="phone"
                                                                  placeholder="Enter Country"
                                                                  title="enter your phone number if any.">
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <div class="col-xs-6">
                                                            <label for="phone">
                                                                  <h5>Province</h5>
                                                            </label>
                                                            <input name="province" [(ngModel)]="rec.province" required
                                                                  type="text" class="form-control" id="phone"
                                                                  placeholder="Enter Province"
                                                                  title="enter your phone number if any.">
                                                      </div>
                                                </div>

                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="d-md-flex align-items-center h-md-100 p-3 justify-content-center">
                              <div class="form-group">
                                    <div class="col-xs-12">
                                          <button class="btn btn-lg btn-success" type="submit"><i
                                                      class="glyphicon glyphicon-ok-sign"></i>
                                                Save Profile</button>
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</ng-template>