<div class="row">
      <div class="col-sm-6 d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <div class="card" style="width: 18rem;">
                  <img src="../../../assets/shahzaib.png" class="card-img-top" alt="...">
                  <div class="card-body">
                        <h5 class="card-title">Malik Shahzaib Haider</h5>
                        <p class="card-text">shahzaibhaider@gmail.com</p>
                        <a href="#" class="btn btn-danger">Contact</a>
                  </div>
            </div>
      </div>
      <div class="col-sm-6 d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <div class="card" style="width: 18rem;">
                  <img src="../../../assets//talha.png" class="card-img-top" alt="...">
                  <div class="card-body">
                        <h5 class="card-title">Muhammad Talha Zubair</h5>
                        <p class="card-text">talhazubair@gmail.com</p>
                        <a href="#" class="btn btn-danger">Contact</a>
                  </div>
            </div>
      </div>
</div>