.profile-container {
      max-width: 1050px;
      margin-top: 30px; }
      .profile-container .pro-s-cover {
        background-color: #FFF;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
        .profile-container .pro-s-cover img {
          border-radius: 50px; }
        .profile-container .pro-s-cover h6 {
          font-family: "mouse-300", Arial, Helvetica, sans-serif;
          font-size: 1.3rem;
          margin-top: 10px;
          margin-bottom: 0px; }
        .profile-container .pro-s-cover span {
          font-size: .8rem; }
        .profile-container .pro-s-cover p {
          font-size: .9rem;
          color: #009b7f;
          font-weight: 600; }
        .profile-container .pro-s-cover .num-box {
          width: 100%;
          border-top: 1px solid #CCC;
          margin-top: 10px; }
          .profile-container .pro-s-cover .num-box .hire {
            flex: 1;
            text-align: center;
            border-right: 1px solid #CCC;
            padding: 10px 0px; }
            .profile-container .pro-s-cover .num-box .hire span {
              font-size: .9rem; }
          .profile-container .pro-s-cover .num-box .msg {
            flex: 1;
            text-align: center;
            padding: 10px 0px; }
            .profile-container .pro-s-cover .num-box .msg span {
              font-size: .9rem; }
        .profile-container .pro-s-cover .msg-box {
          width: 100%;
          padding-top: 20px;
          border-top: 1px solid #CCC; }
          .profile-container .pro-s-cover .msg-box .btn {
            width: 110px;
            box-shadow: none; }
            @media screen and (max-width: 865px) {
              .profile-container .pro-s-cover .msg-box .btn {
                width: auto; } }
            @media screen and (max-width: 767px) {
              .profile-container .pro-s-cover .msg-box .btn {
                width: 130px; } }
            @media screen and (max-width: 415px) {
              .profile-container .pro-s-cover .msg-box .btn {
                width: 100px; } }
          .profile-container .pro-s-cover .msg-box .hire {
            flex: 1;
            text-align: center; }
          .profile-container .pro-s-cover .msg-box .msg {
            flex: 1;
            text-align: center; }
      .profile-container .con-cover {
        background-color: #FFF;
        padding: 10px;
        margin-top: 15px;
        box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
        .profile-container .con-cover h4 {
          font-size: 1.1rem;
          padding-left: 10px;
          padding-top: 5px; }
        .profile-container .con-cover ul li {
          float: left;
          padding: 10px; }
        .profile-container .con-cover .cd-ro {
          border-top: 1px solid #CCC;
          padding: 10px; }
          .profile-container .con-cover .cd-ro span {
            font-size: .8rem;
            font-style: italic; }
          .profile-container .con-cover .cd-ro p {
            font-size: 1rem;
            margin-top: 6px; }
            @media screen and (max-width: 865px) {
              .profile-container .con-cover .cd-ro p {
                font-size: .8rem; } }
            .profile-container .con-cover .cd-ro p i {
              font-size: 16px;
              margin-right: 10px; }
      .profile-container .data-box {
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
        margin-bottom: 20px; }
        .profile-container .data-box h2 {
          font-size: 1.2rem;
          border-bottom: 1px solid #CCC;
          padding-bottom: 10px;
          margin-bottom: 10px; }
        .profile-container .data-box p {
          text-indent: 20px;
          text-align: justify;
          font-size: .9rem; }
        .profile-container .data-box .btn-link li {
          float: left;
          margin-top: 15px;
          padding: 5px 10px;
          border-radius: 15px;
          border: 1px solid #888;
          margin-right: 10px;
          color: #888; }
          @media screen and (max-width: 483px) {
            .profile-container .data-box .btn-link li {
              margin-right: 5px !important;
              width: 100%;
              margin-bottom: 10px; } }
          .profile-container .data-box .btn-link li i {
            margin-top: 5px; }
          .profile-container .data-box .btn-link li a {
            color: #888; }
        .profile-container .data-box .exp-row {
          margin: 0px;
          border-bottom: 1px solid #CCC;
          padding-bottom: 10px;
          margin-bottom: 10px; }
          .profile-container .data-box .exp-row h6 {
            width: 100%;
            font-size: .9rem;
            margin-bottom: 5px; }
          .profile-container .data-box .exp-row i {
            margin-left: 10px;
            font-size: .8rem; }
          .profile-container .data-box .exp-row span {
            color: #009b7f;
            font-size: .8rem;
            font-family: "mouse-500", Arial, Helvetica, sans-serif; }
          .profile-container .data-box .exp-row p {
            margin-top: 5px;
            text-indent: 15px; }
        .profile-container .data-box .last {
          margin-bottom: 0px;
          padding-bottom: 0px;
          border: 0px; }
      .profile-container .education-detail .sec-title {
        padding: 20px 0px;
        text-align: center;
        font-size: 22px; }
      .profile-container .education-detail .resume-dat {
        text-align: center;
        margin: auto; }
        @media screen and (max-width: 575px) {
          .profile-container .education-detail .resume-dat {
            margin-bottom: 20px; } }
        .profile-container .education-detail .resume-dat p {
          width: 100%;
          text-indent: 0px;
          margin: auto;
          text-align: center; }
        .profile-container .education-detail .resume-dat h6 {
          text-align: center; }
      .profile-container .education-detail .service {
        padding: 20px 0px; }
        .profile-container .education-detail .service .resume-dat {
          text-align: center; }
      .profile-container .education-detail .rgbf {
        border-left: 1px solid #CCC; }
        .profile-container .education-detail .rgbf h5 {
          font-size: 1.2rem; }
      .profile-container .service-box .service {
        padding: 10px;
        margin-bottom: 10px;
        background-color: #dadada21; }
        .profile-container .service-box .service .serv-logo {
          margin: auto;
          text-align: center;
          font-size: 44px; }
          .profile-container .service-box .service .serv-logo i {
            margin: auto; }
        .profile-container .service-box .service .serv-det h5 {
          font-size: 1rem; }
  
  
  
      /* listView */
      .job-post-item {
          border-radius: 0;
          box-shadow: 5px 5px 10px #17a2b8;
          transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
        }
        
        .job-post-item:hover {
          background: #17a2b8;
          /* color: #s; */
          border-radius: 2px;
          border:none;
          box-shadow: 5px 5px 5px 6px #17a2b8;
        }
        
        .job-post-item:hover h3 {
          color: #fff;
        }
        .change_color{
          color: white;
        }
  
           /* listView */
      .job-post-item {
          border-radius: 0;
          box-shadow: 5px 5px 10px #17a2b8;
          transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
        }
        
        .job-post-item:hover {
          background: #17a2b8;
          /* color: #s; */
          border-radius: 2px;
          border:none;
          box-shadow: 5px 5px 5px 6px #17a2b8;
        }
        
        .job-post-item:hover h3 {
          color: #fff;
        }
        .change_color{
          color: white;
        }
  
  
        /* Cards
        body {
          font-family: 'Raleway',sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #777;
          
      }
      
      h1 {
          font-size: 36px;
          font-weight: bold ;
          color: #555;
      }
      
      h3 {
          font-size: 24px;
          font-weight: bold ;
          color: #333;
      }
      
      #team img {
          margin-top: -50px;
      }
      
      #team p {
          font-weight: 500;
      }
      
      #team .card {
          border-radius: 0;
          box-shadow: 5px 5px 15px #1357e9;
          transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
      }
       
      #team .card:hover {
          background: #1357e9;
          color: #fff;
          border-radius: 5px;
          border:none;
          box-shadow: 5px 5px 5px 10px #9E9E9E;
      }
      
      #team .card:hover h3 {
          color: #fff;
      } */