<section Id="team">
      <div class="container my-3 py-5 text-center">

            <div class="row">
                  <div *ngFor="let rec of recs" class="col-lg-3 col md-6 mb-3">
                        <div class="card">
                              <div class="card-body">
                                    <img [src]="imageSrc ||'http://localhost:3000/assets/'+rec.img_path" alt=""
                                          class="img-fluid rounded-circle w-50 mb-3">
                                    <h3>{{rec.username}}</h3>
                                    <h5>{{rec.email}}</h5>
                                    <p>{{rec.first_name+" "+rec.last_name}} belongs to {{rec.field}} </p>
                                    <div class="d-flex flex-row justify-content-center">
                                          <div class="p4">
                                                <!-- <a href="#">
                                                      <button type="button" class="btn btn-info">View
                                                            More</button>
                                                </a> -->
                                                <a class="btn btn-success mr-3" routerLink="{{rec.username}}">View
                                                      Profile
                                                </a>
                                          </div>
                                    </div>

                              </div>
                        </div>
                  </div>
            </div>

      </div>

</section>