<div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
      <form ngNativeValidate #f="ngForm" (ngSubmit)="onSubmit(f)">
            <h2>Set New Password</h2>
            <div class="form-group">
                  <label>New Password</label>
                  <input type="password" name="new_password" required class="form-control" ngModel
                        placeholder="Enter New Password">
            </div>
            <div class="d-md-flex align-items-center h-md-100 justify-content-center">
                  <button type="submit" class="btn btn-primary">Set Password</button>
            </div>
      </form>
</div>