<div class="jumbotron">
      <h1 class="display-4">Contact us</h1>
      <p class="lead">Werify is a job portal that enables trust between employers and recipients/job seeker</p>
      <hr class="my-4">
      <p><b>Email 1 : </b>admin1@werify.com</p>
      <p><b>Email 2 : </b>admin2@werify.com</p>
      <hr class="my-4">
      <p><b>Phone Number 1 : </b>+92333-9999999</p>
      <p><b>Phone Number 2 : </b>+92300-1111111</p>
      <hr class="my-4">
      <p><b>Location : </b>ABC-00/12, I-8/1, Street 22, Islamabad Capital of Pakistan</p>
      <hr class="my-4">
      <p><b>We Verify You</b></p>
</div>