<div class="ftco-section">
      <div class="container">
            <div class="row">
                  <div class="col-md-12 col-lg-12 mb-5">
                        <div class="d-md-flex align-items-center h-md-100 justify-content-center">
                              <form ngNativeValidate (ngSubmit)="onSubmit()" class="p-3 bg-white">
                                    <h1 class="p-3 ml-n3">Edit Job</h1>
                                    <div class="row form-group">
                                          <div class="col-md-12 mb-3 mb-md-0">
                                                <label class="font-weight-bold" for="fullname">Job Title</label>
                                                <input required type="text" id="fullname" [(ngModel)]="job.title"
                                                      name="job_title" class="form-control"
                                                      placeholder="eg. Professional UI/UX Designer">
                                          </div>
                                    </div>
                                    <div class="row form-group">
                                          <div class="col-md-12 mb-3 mb-md-0">
                                                <label class="font-weight-bold" for="fullname">Designation</label>
                                                <input required type="text" id="fullname" class="form-control"
                                                      [(ngModel)]="job.designation" name="designation"
                                                      placeholder="eg. Senior Developer, Marketing Leader">
                                          </div>
                                    </div>
                                    <div class="row form-group">
                                          <div class="col-md-6">
                                                <h4>Field</h4>
                                          </div>
                                          <div class="col-md-6">
                                                <h4>Job Type</h4>
                                          </div>
                                    </div>
                                    <div class="row form-group">
                                          <div class="col-md-6 mb-3 mb-md-0">
                                                <select required name="field" [(ngModel)]="job.field"
                                                      class="form-control">
                                                      <option value="Engineering">Engineering</option>
                                                      <option value="Business">Business</option>
                                                      <option value="Information Technology">Information Technology
                                                      </option>
                                                      <option value="Marketing">Marketing</option>
                                                      <option value="Medical">Medical</option>
                                                </select>
                                          </div>
                                          <div class="col-md-6 mb-3 mb-md-0">
                                                <select required name="job_type" [(ngModel)]="job.job_type"
                                                      class="form-control">
                                                      <option value="Full Time">Full Time</option>
                                                      <option value="Part Time">Part Time</option>
                                                      <option value="Entrepreneur">Entrepreneur</option>
                                                </select>
                                          </div>
                                    </div>
                                    <div class="row form-group">
                                          <div class="col-md-6">
                                                <h4>Salary</h4>
                                          </div>
                                          <div class="col-md-6">
                                                <h4>Vacancies</h4>
                                          </div>
                                    </div>
                                    <div class="row form-group">
                                          <div class="col-md-6 mb-3 mb-md-0">
                                                <input name="salary" required [(ngModel)]="job.salary" type="text"
                                                      id="fullname" class="form-control" placeholder="eg. 35000">
                                          </div>
                                          <div class="col-md-6 mb-3 mb-md-0">
                                                <input name="vacancies" required [(ngModel)]="job.vacancies" type="text"
                                                      id="fullname" class="form-control" placeholder="eg. 12">
                                          </div>
                                    </div>
                                    <div class="row form-group mb-4">
                                          <div class="col-md-12">
                                                <h4>Location</h4>
                                          </div>
                                          <div class="col-md-12 mb-3 mb-md-0">
                                                <input name="location" required [(ngModel)]="job.location" type="text"
                                                      class="form-control" placeholder="Western City, UK">
                                          </div>
                                    </div>
                                    <div class="row form-group">
                                          <div class="col-md-12">
                                                <h4>Job Description</h4>
                                          </div>
                                          <div class="col-md-12 mb-md-0">
                                                <textarea name="description" required [(ngModel)]="job.description"
                                                      class="form-control" id="" cols="30" rows="5"></textarea>
                                          </div>
                                    </div>
                                    <div class="d-md-flex align-items-center h-md-100 justify-content-center">
                                          <div class="row form-group">
                                                <button class="btn btn-info">Update Job</button>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</div>