<div class="job_details_area">
      <div class="container">
            <div class="row">
                  <div class="col-lg-8">
                        <div class="job_details_header">
                              <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center mb-2 ml-4">
                                          <div class="thumb">
                                                <img class="rounded-circle mr-3"
                                                      [src]="'http://localhost:3000/assets/'+org.img_path" alt=""
                                                      width="150" height="150">
                                          </div>
                                          <div class="jobs_conetent pl-3">
                                                <a>
                                                      <h1>{{job.title}}</h1>
                                                </a>
                                                <div class="links_locat d-flex align-items-center">
                                                      <div class="location">
                                                            <p> <i class="fa fa-map-marker"></i> {{org.address}}
                                                            </p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="descript_wrap white-bg">
                              <div class="single_wrap">
                                    <h4>Job description</h4>
                                    <p>{{job.description}}</p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4">
                        <div class="job_sumary">
                              <div class="summery_header">
                                    <div class="d-md-flex align-items-center justify-content-center">
                                          <h6>{{"Job Summary ( Applications : "+application_count+" )"}}</h6>
                                    </div>
                              </div>
                              <div class="job_content pb-5">
                                    <ul>
                                          <!-- <li>Published on: {{job.date}}</li> -->
                                          <li>Vacancy: {{job.vacancies}} Position</li>
                                          <li>Salary: {{job.salary}}/- PKR</li>
                                          <li>Location: {{job.location}}</li>
                                          <li>Job Nature: {{job.job_type}}</li>
                                          <li>Field: {{job.field}}</li>
                                    </ul>
                              </div>
                        </div>

                  </div>
            </div>

            <div class="featured_candidates_area candidate_page_padding">
                  <div class="container">
                        <div class="row mb-2 ml-3">
                              <div>
                                    <h3>Applications</h3>
                              </div>
                        </div>
                        <div class="row">
                              <div *ngFor="let application of applications" class="col-md-6 col-lg-4">
                                    <div class="single_candidates text-center">
                                          <a>
                                                <h3>{{application.recipient}}</h3>
                                          </a>
                                          <div>
                                                <P>{{application.proposal}}</P>
                                          </div>
                                          <div class="d-flex flex-row justify-content-center mt-3">
                                                <div class="p4">
                                                      <a (click)="ViewProfile(application.recipient)"
                                                            class="btn btn-info btn-sm change_color mr-3">View Profile
                                                      </a>
                                                      <a *ngIf="application.application_status=='Pending'; else elseBlock"
                                                            (click)="RejectApplication(application.job,application.recipient)"
                                                            class="btn btn-info btn-sm change_color">Reject
                                                      </a>
                                                      <ng-template #elseBlock>
                                                            <a class="btn btn-info btn-sm change_color mr-3">Rejected
                                                            </a>
                                                      </ng-template>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>